@model Prova_Encripitar.Models.EncriptarModel

@{
    ViewBag.Title = "Edit";
}

<h2>Decryptado</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mensagem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Home")
</p>
