@model IEnumerable<Prova_Encripitar.Models.EncriptarModel>

@{
    ViewBag.Title = "Home";
}

<h2>Inicio</h2>




<div class="form-horizontal">
    <h4>EncriptarModel</h4>
    <hr />
    <div>
        <table>
            <tr>
                <td>
                    <div>
                        <a class="button" href="~/Encriptar/Create" style="float: right; border:1px solid; padding: 11px 21px; vertical-align: middle; background:#2D888F; color:white;border-radius:6px; font-size: 20px; font-family:helvetica, serif;text-decoration:none;">Encriptar</a>
                    </div>
                </td>
                <td>
                    <div>
                        <a class="button" href="~/Encriptar/Index" style="float: left; border:1px solid; padding: 11px 21px; vertical-align: middle; background:#2D888F; color:white;border-radius:6px; font-size: 20px; font-family:helvetica, serif;text-decoration:none;">Decriptar</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
